/*to make it easier to change the style*/
:root {
  --bg-color: rgba(197, 180, 139, 0.5);
  --my-padding: 10px;
  --my-borders: 24px;
}

audio,
video {
  display: block;
  margin-bottom: 20px;
  align-items: center;
}
video {
  width: 600px;
  height: 400px;
}

button {
  padding: var(--my-padding);
  font-size: 1.2rem;
  border-radius: var(--my-borders);
  margin: 10px;
  cursor: pointer;
  background-color: var(--bg-color);
}

button:hover {
  scale: 0.9;
}
