body {
  background-color: bisque;
}

/* ------------------ */
/* Infomation Popup   */
/* ------------------ */

.infomation-popup {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.infomation-popup-content {
  background-color: white;
  background: white;
  padding: 50px;
  border-radius: 12px;
  width: 500px;
  text-align: center;
  font-family: "Lexend", sans-serif;
}

#name {
  margin-top: 20px;
}

#close-btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: -10px;
}
