/*
--brand-color: #F59E0B;
--darkest-color: #18181B;
--dark-color: #3A3A42;
--mid-color: #A1A1AA;
--light-color: #D2D2DF;
--lightest-color: #F8F8F8;

font
"Nunito Sans", sans-serif;
 "EB Garamond", serif;
  */

body,
html {
    height: 100%;
    background-color: #F8F8F8;
}

h1 {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;

}



h3 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
}

p {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

hr {
    height: 2px;
    border-width: 0;
    color: #37323E;
    background-color: #37323E
}

button {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    background-color: black;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
}


.mainfont {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.name {
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: #F59E0B;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Bodoni Moda" serif;
    text-transform: uppercase;
}

/* for the starting page*/
#homepage {
    background-image: url(concerthall.jpg);
    height: 100%;
    /*used a filter to make everything more cohesive 
    so i decided to go with a black and white filter*/
    -webkit-filter: grayscale(50%);
    filter: grayscale(100%);
}

/* have to use rgba since i only want the box opacity to change
done this so that the title will be more obvious since the image is a bit white*/
#box {
    background-color: rgba(0, 0, 0, 0.45);
    /*wanted the image to fit the whole screen*/
    height: 100%;
    width: 100%;
    display: flex;
    flex: center;
}

/*Created this button to link the actual website*/
#button1 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: #3A3A42;

    /*Wanted the button in the middle of the webpage hence the margin tag*/
    margin: 0 auto;
    padding: 20px 30px;

    /*Added the margin to make there be more line spacing between each section*/
    margin-bottom: 30px;
    margin-top: 10px;
}

/* added a hover function to make it change colour when hovered over this was 
done just to create some movement in a way*/

#button1:hover {
    background-color: #F59E0B;
    color: black;
    font-weight: bold
}

/*done for the verticle tab menu*/
.scrollmenu {
    font-family: "Nunito Sans", sans-serif;
    font-size: 25px;
    font-weight: bold;
    background-color: #18181B;

    /*creating some height to the design and also using the flexbox 
    to create it aligning it to the center with the justify content tag*/
    padding: 15px;
    align-items: center;
    display: flex;
    /*using flexwrap to make sure the elements dont disappear when the browser is smaller */
    flex-wrap: wrap;
    justify-content: center;

}

.scrollmenu a {
    color: white;
    text-align: center;
    /*to create a fix box size with a fixed font size, since i was going for the oversized text look*/
    height: 50px;
    width: 50px;
    display: flex;
    /*to make everything centered in the 'box'*/
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /*So no underline*/
    text-decoration: none;
}

.scrollmenu a:hover {
    background-color: #F59E0B;
    color: black;
    font-weight: bold;
}

/*using flex box to create the side by side text*/
.sidebyside {
    display: flex;
}

/* General class styles*/
.number {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-style: bold;
    font-size: 4.5rem
}

.title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: larger;
}

.wording {
    font-family: "EB Garamond", serif;
}

.left {
    text-align: left;
    align-items: left;
    /* to keep the margin consistant i used percentage instead of px*/
    margin: 5%;
    /* to ensure the text can 'grow' with browser size change*/
    min-width: 25%;
    max-width: 70%;
    flex: 1;
}

.right {
    align-items: right;
    text-align: right;
    margin: 5%;
    min-width: 25%;
    max-width: 70%;
    flex: 1;
}


/*using flex box to create the side by side text*/
.sidebyside {
    display: flex;
    align-items: center;
}

.backgroundcolour {
    background-color: #18181B;
    color: #FFFFFF;
    padding-bottom: 30px;
    padding-top: 30px;
}

.buttonlayout {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
    padding: 10px 30px;
}

/* Reduce opacity of other images when hovering on one */
.buttonlayout:hover .hoverover {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

/* Keep hovered image at full opacity */
.buttonlayout .hoverover:hover {
    opacity: 1;
}

/* For Hover Animations*/
.hoverover {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(255, 255, 255);

    border-radius: 5px;
    width: 280px;
    height: 170px;
    text-align: center;
    text-transform: uppercase;

    /* for the the text that will be shown afterwards*/
    display: flex;
    align-items: center;
    position: relative;
}

.hoverover:hover {
    background-color: #F59E0B;
    border: #D2D2DF 2px solid;

}

/* done to hide the image*/
.hoverover:hover img {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}


/* Show new hover text */
.hoverover:after {
    font-family: "EB Garamond", serif;
    content: attr(data-hover);
    font-size: 20px;
    padding: 20px;
    text-transform: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

/*to return the img to original state*/
.hoverover:hover:after {
    opacity: 1;
}


#question3 {
    margin-top: 30px;
    margin-bottom: 30px;
}




/* this few tags are for text over image. I had to research how to do it 
and then tried to understand how to use the code and not copy blindly*/

.container {
    /* this was done cause I wanted my image to take up the full screen since 
    i didnt want it to constantly repeat and be the background for all the other 'sections' i added a no-repeat tag  */

    background-repeat: no-repeat;
    background-size: cover;

    /* This was to make sure that the text in the image will always be in the center */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255)
}

/* this is for the number*/
.textleft {
    position: absolute;
    top: 8px;
    left: 16px;
}


/* For Hover Animations- just copied the previous animation but changed some settings*/
.hoverover2 {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 20px;

    background-color: #37323E;
    border-radius: 5px;
    width: 400px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;

    /* for the the text that will be shown afterwards*/
    display: flex;
    align-items: center;
    position: relative;
}

.hoverover2:hover {
    background-color: #F59E0B;
    border: #D2D2DF 2px solid;
    font-size: 0px;

}

/* Show new hover text */
.hoverover2:after {
    font-family: "EB Garamond", serif;
    font-weight: lighter;
    content: attr(data-hover);
    font-size: 20px;
    padding: 20px;
    text-transform: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

.hoverover2:hover:after {
    opacity: 1;
}



#question4 {
    position: relative;
    height: 100%;
    color: white;
    /* Ensure text remains visible */
}

/* to make the background behing the content of #question4 acting as a background layer*/
#question4::before {
    content: attr(data-hover);
    position: absolute;
    width: 100%;
    height: 100%;

    /* Sets the grayscale background image */
    background-image: url(https://drupal-prod.visitcalifornia.com/sites/default/files/styles/fluid_1920/public/WaltDisneyConceertHall_attraction_sized.jpg.webp?itok=pH3jXu1C);

    /*ensures image does not repeat*/
    background-size: cover;

    /* Applies grayscale effect to the background image only */
    filter: grayscale(100%);


}


/*this is for the text*/
.centered {
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}


/* creating some spacing in btw text*/
#question5 {
    margin-top: 30px;
    margin-bottom: 30px;
}


/* done for the side by side that want a yellow border at the back*/
.sidebyside2 {
    display: flex;
    justify-content: space-between;
    margin-top: -50px;
    gap: 20px;
    align-items: center;


    background-color: #F59E0B;
    margin-left: 5%;
    margin-right: 5%;
    color: #18181B;
    border-radius: 5px;
}

#concerthallimg {
    /*ensure that the image scales with the size of the browser*/
    width: 100%;
    filter: grayscale(100%);
}

/*ensure some interaction*/
#concerthallimg:hover {
    filter: grayscale(50%);
}


/*ust copied the previous button layout class but changed some settings*/

.buttonlayout2 {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px 30px;
}

/* Reduce opacity of other images when hovering on one */
.buttonlayout2:hover .hoverover3 {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

/* Keep hovered image at full opacity */
.buttonlayout2 .hoverover3:hover {
    opacity: 1;
}

/* For Hover Animations - just copied the previous animation but changed some settings*/
.hoverover3 {
    font-family: "Nunito Sans", sans-serif;
    color: rgb(255, 255, 255);

    border-radius: 5px;
    width: 280px;
    height: 210px;
    text-align: center;
    text-transform: uppercase;

    /* for the the text that will be shown afterwards*/
    display: flex;
    align-items: center;
    position: relative;
}

.hoverover3:hover {
    background-color: #F59E0B;
    border: #D2D2DF 2px solid;

}

/* done to hide the image*/
.hoverover3:hover img {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}


/* Show new hover text */
.hoverover3:after {
    font-family: "EB Garamond", serif;
    content: attr(data-hover);
    font-size: 20px;
    padding: 20px;
    text-transform: none;
    position: absolute;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
}

/*to return the img to original state*/
.hoverover3:hover:after {
    opacity: 1;
}


#question7 {
    margin-top: 30px;
    margin-bottom: 30px;
}

#question8 {
    margin-top: 30px;
    margin-bottom: 30px;
}



.buttonlayout3 {
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 10px 30px;
}

/* Reduce opacity of other images when hovering on one */
.buttonlayout3:hover #answerbox {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;

}

/* Keep hovered image at full opacity and increase the size of 
the text box you hover over used this tag to increase the size uniformly */
.buttonlayout3 #answerbox:hover {
    opacity: 1;
    transform: scale(1.1);
}


#answerbox {
    color: rgb(255, 255, 255);
    border: rgb(255, 255, 255) 2px solid;
    border-radius: 5px;
    padding: 100px 35px;
    width: 200px;
    text-align: left;
    font-size: 18px;
}

#answerbox:hover {
    background-color: #F59E0B;
    color: #18181B;
}

/*make the heading of the font bigger without creating another tag like h1/h2*/
span {
    font-weight: bolder;
    font-size: larger;
}

#question10img {
    /*the image scale with the browser size*/
    width: 100%;
    /* Forces square dimensions */
    aspect-ratio: 1 / 1;
    /* Ensures the image fills the square without stretching */
    object-fit: cover;

    filter: grayscale(100%);
}

#question10img:hover {
    filter: grayscale(0%);
}


#question11 {
    background-image: url(drawing.jpg);
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #18181B;
}

.sidebyside3 {
    display: flex;
    justify-content: right;
    margin-right: 5%;
    margin-left: 5%;
    color: white;

    background-color: rgba(24, 24, 27, .75);
    border-radius: 5px;
    padding: 30px;

}

#button2 {
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    background-color: #3A3A42;

    /*Wanted the button in the middle of the webpage hence the margin tag*/
    margin: 0 auto;
    padding: 20px 40px;

    /*Added the margin to make there be more line spacing between each section*/
    margin-bottom: 20px;
    margin-top: -20px;
}

#button2:hover {
    background-color: #F59E0B;
    color: black;
    font-weight: bold
}

.conclusion {
    padding: 30px 30px;
    color: #18181B;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: -20px;


}


#button3 {
    background-color: #18181B;
    font-family: "Nunito Sans", sans-serif;
    ;
    color: ;
    font-weight: bold;
    padding: 20px 50px;
}

#button3:hover {
    background-color: #F59E0B;
    color: #18181B;
}

.buttoncontainer {
    margin: 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
}