/* 
Font Family
font-family: "Caveat Brush", cursive; 
*/

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: url("img/background.png");
  background-size: cover; /* Fill screen */
  background-position: center; /* Center image */
  background-repeat: no-repeat; /* Don't tile */
}

.header {
  display: flex;
  justify-content: end;
  padding: 20px;
}

/*--------------------------------*/
/* Header buttons                 */
/*--------------------------------*/
.header{
  gap: 20px;
}

#info-btn {
  width: 50px;
  height: 50px;
}

#sound-on {
  width: 50px;
  height: 50px;
}
/*--------------------------------*/
/* Machine                        */
/*--------------------------------*/

.machine-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 120px;
  padding: 20px;
  gap: 40px; /* space between sign and machine */
}

.machine-wrapper {
  position: relative;
  display: inline-block;
}

/* Machine buttons */
.machine-button {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: none; /* testing */
  opacity: 0%;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

#button1 {
  top: 153px;
  left: 128px;
}
#button2 {
  top: 153px;
  left: 209px;
}
#button3 {
  top: 153px;
  left: 290px;
}
#button4 {
  top: 153px;
  left: 376px;
}
#button5 {
  top: 262px;
  left: 128px;
}
#button6 {
  top: 262px;
  left: 209px;
}
#button7 {
  top: 262px;
  left: 290px;
}
#button8 {
  top: 371px;
  left: 128px;
}
#button9 {
  top: 371px;
  left: 209px;
}
#button10 {
  top: 371px;
  left: 290px;
}

/*--------------------------------*/
/* Can Animation                  */
/*--------------------------------*/
#can {
  position: absolute;
  top: 450px; /* initial position */
  left: 250px; /* initial position */
  width: 50px;
  opacity: 0;
  transform: translateY(0);
  transform-origin: center center;
  transform-style: preserve-3d;
  cursor: pointer;
  transition: opacity 0.4s ease, transform 0.6s ease;
  z-index: 10;
  pointer-events: auto;
}

/* Can animation: drop */
#can.animate {
  animation: dropCan 0.5s ease-out forwards;
  opacity: 1;
}

@keyframes dropCan {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translateY(72px) rotate(90deg);
    opacity: 1;
  }
}
#can.centered {
  top: 37%;
  left: 20%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 250px;
  opacity: 1;
  z-index: 10;
  transition: all 0.5s ease;
  pointer-events: auto;
}

/* Optional clickable cursor */
#can.clickable {
  cursor: pointer;
}

/*--------------------------------*/
/* Overlay                        */
/*--------------------------------*/
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

#overlay.active {
  opacity: 1;
  pointer-events: auto;
}

/*--------------------------------*/
/* Shake Animtion                 */
/*--------------------------------*/

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%) rotate(0);
  }
  20%,
  60% {
    transform: translate(-50%, -50%) rotate(-5deg);
  }
  40%,
  80% {
    transform: translate(-50%, -50%) rotate(5deg);
  }
}

.shake {
  animation: shake 0.5s ease-in-out;
}

@keyframes machineShake {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  60% {
    transform: translateX(-5px);
  }
  40%,
  80% {
    transform: translateX(5px);
  }
}

.machineShake {
  animation: machineShake 0.4s ease-in-out;
}
/*--------------------------------*/
/* Card                           */
/*--------------------------------*/
.card-container {
  perspective: 1000px;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 405px;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 20;
  opacity: 0;
  transition: opacity 0.6s ease;
  /* Ensure it's ready for fade in */
}

.card-container.visible {
  opacity: 1;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
  position: relative;
}

/*--------------------------------*/
/* Card Animation                 */
/*--------------------------------*/
.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  top: 0;
  left: 0;
}

.card-face.back {
  transform: rotateY(180deg);
}

.card:hover {
  scale: 0.98;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
}

.card-face img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.flipped {
  transform: rotateY(180deg);
}

/*--------------------------------*/
/* Retry Button                   */
/*--------------------------------*/

.close-button {
  font-family: "Caveat Brush", "cursive";
  margin-top: 10px;
  margin-left: 80px;
  padding: 10px 40px;
  font-size: 1.5rem;
  background-color: #13121f;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#close-btn {
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
}
#close-btn.visible {
  opacity: 1;
  pointer-events: auto;
}

.close-button:hover {
  background-color: #a8a7b2;
}

/*--------------------------------*/
/* Screen Warning                 */
/*--------------------------------*/
#screen-warning {
  font-family: "Lexend", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image:url("img/background1.png") ;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

#screen-warning.hidden {

  opacity: 0%;
}
#screen-warning p {
  text-align: center;
  max-width: 600px;
  padding: 0 20px;
}
/*--------------------------------*/
/* Information PopUp              */
/*--------------------------------*/

.information-popup {
  font-family: "Lexend", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*this content creates the box around the text*/
.information-popup-content {
  position: relative;
  background-color: #f29188;
  padding: 70px;
  border-radius: 12px;
  text-align: center;
  max-width: 700px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  color: bacl;
}

.information-popup h1 {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

#logo-name {
  font-family: "Caveat Brush", cursive;
  font-size: 2.5rem;
}

#name {
  font-size: small;
}

#close-info-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  justify-content: right;
  background-color: #26233e;
  color: white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  font-size: 1rem;
  padding: 0;
  box-shadow: none;
  cursor: pointer;
}

#close-info-btn:hover {
  transform: scale(1.2);
  transition: transform 0.2s ease; /* Optional for smooth animation */
}

#attribution-header {
  font-size: 10px;
  font-weight: bold;
}

#attribution {
  color: black;
  font-size: 8px;
  width: 450px;
  margin-bottom: -20px;
}

#attribution a {
  color: black;
  text-decoration: none;
}

#infoBtn {
  cursor: pointer;
}

/*--------------------------------*/
/* Other                          */
/*--------------------------------*/
.hidden {
  display: none;
}
